@{
    Layout="_MasterLayout";
    ViewData["HeadTitle"]="Giỏ hàng";
    var item_text = "";
}
@model List<PhuKienDienThoai.Models.SanPhamViewModels.GioHangViewModel>

@if(Model.Count >0)
{
    <section id="cart_items">
        <div class="container">
            <div class="heading">
				<h3>Giỏ hàng của tôi</h3>
			</div>
            <div class="table-responsive cart_info">
				<table class="table" style="margin-bottom:0px ">
					<thead>
						<tr class="cart_menu">
							<td class="image">Ảnh SP</td>
							<td class="description">Tên sản phẩm</td>
							<td class="price">Đơn giá</td>
							<td class="quantity">Số lượng</td>
							<td class="total">Tổng tiền</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
                        @foreach(var item in Model)
                        {
                            item_text += item.SoLuong.ToString() + " x " + item.SanPham.TenSanPham + " + "; 
                            <tr>
                                <td class="cart_product">
                                   <img src="~/images/SanPham/@item.SanPham.HinhAnh" style="max-height:100px" alt="Ảnh của @item.SanPham.TenSanPham">
                                </td>
                                <td class="cart_description">
                                    <h4><a asp-controller="SanPham" asp-action="Index" asp-route-id="@item.SanPham.id" asp-area="">@item.SanPham.TenSanPham</a></h4>
                                    <p>ID Sản phẩm: @item.SanPham.id</p>
                                </td>
                                <td class="cart_price">
                                    <p>@item.SanPham.DonGia.ToString("#,0")Đ</p>
                                </td>
                                <td class="cart_price">
                                    <div class="cart_quantity_button">
                                        <p type="text" data-sanphamid="@item.SanPham.id" class="cart_quantity_input">@item.SoLuong</p>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@item.ThanhTien.ToString("#,0")Đ</p>
                                </td>
                                <td class="cart_delete">
                                    <a title="Gỡ @item.SanPham.TenSanPham" class="cart_quantity_delete" asp-route-SanPhamId="@item.SanPham.id" asp-action="XoaGioHang" asp-controller="GioHang"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
					</tbody>
                    <tfoot class="cart_menu">
                        <tr>
                            <td colspan="4">Thành tiền</td>
                            <td>
                                @Model.Sum(x=>x.ThanhTien).ToString("#,0")Đ
                            </td>
                            @{
                                ViewData["mathang"] = System.Net.WebUtility.UrlEncode(item_text.Remove(item_text.Length - 3));
                                ViewData["thanhtien"] = Model.Sum(x=>x.ThanhTien).ToString();
                            }
                            <td></td>
                        </tr>
                    </tfoot>
				</table>
			</div>
		</div>
    </section>
    <section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>Thanh toán hóa đơn</h3>
			</div>
            <div class="chose_area" style="padding-left: 25px">
                @await Component.InvokeAsync("ThanhToanHoaDon")
            </div>
			</div>
	</section><!--/#do_action-->

}
else
{
    <section id="cart_items">
        <div class="container">
    <h3>
        Bạn chưa có món hàng nào trong giỏ hàng
    </h3>
    
    <a asp-action="Index" asp-controller="Home" class="btn btn-default add-to-cart" >Trở về trang chủ</a>
    </div>  
    </section>
}

@section Scripts
{
    <script>
        $(function() {
            $(".cart_quantity_input").keypress((e)=>{
                if(e.keyCode<48 || e.keyCode>57)
                    e.preventDefault();
                
            });
            
        })
    </script>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        var host = document.location.href;
        var arr_url = host.split("/");
        var CREATE_PAYMENT_URL = arr_url[0] + '//' + arr_url[2] + '/Payment/CreatePayment';
        var EXECUTE_PAYMENT_URL = arr_url[0] + '//' + arr_url[2] + '/Payment/ExecutePayment';

        paypal.Button.render({
            style: {
                label: 'pay',
                size: 'small',
                shape: 'rect',
                layout: 'horizontal',
                tagline: false
            },
            env: 'sandbox', //'production',
            commit: true, // Show a 'Pay Now' button

            payment: function (e) {
                return paypal.request.post(CREATE_PAYMENT_URL).then(function (data) {
                    return data.id;
                });
            },

            onAuthorize: function (data) {
                return paypal.request.post(EXECUTE_PAYMENT_URL, {
                    paymentID: data.paymentID,
                    payerID: data.payerID
                }).then(function () {
                    window.location.href = arr_url[0] + '//' + arr_url[2] + '/GioHang/PayPalSuccess?DiaChi=' + encodeURIComponent($("#frmThanhToan_diaChi").val()) + '&GhiChu=' + encodeURIComponent($("#frmThanhToan_ghiChu").val()); 
                });
            },

            onCancel: function(data) {
                alert("Thanh toán qua PayPal bị huỷ");
            }

        }, '#paypal-button');

        $("#btnbaokim").click(function() {
            window.location.href = "https://www.baokim.vn/payment/product/version11?business=lethanhtuan2897%40gmail.com&id=&order_description=&product_name=@Html.Raw(ViewData["mathang"])&product_price=@ViewData["thanhtien"]&product_quantity=1&total_amount=@ViewData["thanhtien"]&url_cancel=&url_detail=&url_success=" + arr_url[0] + '//' + arr_url[2] + '/GioHang/BaoKimSuccess?DiaChi=' + encodeURIComponent($("#frmThanhToan_diaChi").val()) + '&GhiChu=' + encodeURIComponent($("#frmThanhToan_ghiChu").val()); 
        });
    </script>
}